{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Log In{% endblock title %}

{% block content %}
<div class="container-custom mt-4 mb-5">
  <h1>Log In</h1>
  <div>
    <form method="POST">
      {% csrf_token %}
      {{ form|crispy }}
      <input type="submit" class="btn btn-custom w-100" value="Log In">
    </form>
    <br>
    <small>Did you forget your password?
      <a href="{% url 'password_reset' %}" class="link">Click here</a> to reset it.
    </small>
  </div>
</div>
{% endblock content %}