{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="container mt-5 center">
  <h1>Welcome to TaskFlow</h1>
  <p><b>TaskFlow</b> is an intuitive issue tracking system that streamlines project management. It uses a
    card-based interface to organize tasks, allowing teams to easily track progress, assign responsibilities, and
    collaborate efficiently. With real-time updates, customizable workflows, and integration capabilities,
    <b>TaskFlow</b> ensures seamless coordination and enhanced productivity.
  </p>
</div>
{% endblock content %}