{% extends 'base.html' %}

{% block title %}All issues{% endblock title %}

{% block content %}
<div class="container mt-4">
  <h1 class="center mb-3">All issues</h1>
  <div>
    {% for issue in issue_list %}
    <div class="card mb-3">
      <div>
        <div class="mb-2">
          <a href="{% url 'detail' issue.id %}">
            <h5>{{ issue.summary }}</h5>
          </a>
        </div>
        {% if user.is_authenticated %}
        {% if issue.reporter == user %}
        <div>
          <a href="{% url 'edit' issue.id  %}">Edit</a>
          <a href="{% url 'delete' issue.id  %}">Delete</a>
        </div>
        {% endif %}
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}