html {
  scroll-behavior: smooth;
}

body {
  font-family: "Urbanist", sans-serif;
  background-color: #EEEEEE;
}

label {
  display: block;
}

.bg-gray {
  background-color: #686d7657;
}

.secondary-text {
  font-size: 1.2rem;
}

.txt-white {
  color: white !important;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.pd-1 {
  padding: 1rem;
}

.wd-20 {
  width: 20%;
}

.wd-50 {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.container-custom {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.card a {
  color: #DC5F00;
  text-decoration: none;
}

.link {
  color: #DC5F00;
  text-decoration: none;
}

.btn-custom {
  background-color: #DC5F00;
  padding: 0.8rem 1.3rem 0.8rem 1.3rem;
  color: white;
}

.btn-custom:hover {
  background-color: #b85001;
  color: white;
}

.nav-custom {
  background-color: #373A40 !important;
}

.nav-title {
  font-size: 2rem;
}

.flex {
  display: flex;
  justify-content: center;
  gap: 2rem;
}